# Ignore venv
.venv/
venv/
ENV/
env/
*.pyc
__pycache__/
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
#ignore env files
.gradio
#ignore


.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Ignore VS Code settings
0.vscode/
